# Data Science Tools & Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

__Objective:__
* Popular tools used by Data Scientists
* Popular libararies used by Data Scientists
* Artimetic Operations in Python

### Some of the popular tools Data Scientistis use are :
### 1. Python
### 2. R
### 3. SQL
### 4. Java

### Some of the commonly used libraries by Data Scientistis include :
### 1. SciKit-Learn
### 2. SciPy
### 3. PyTorch
### 4. BeautifulSoup

Data Science Tools  |
------------- |
JupyterLite  |
VS-Code  |
Colab

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

200/6

33.333333333333336

## Author
Shashank Mishra